<!Doctype html>
{% load static %}
<html>
<head>
    <title></title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="h2 light text-light" href="#">OnKart</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto ms-5 mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="#">Electronics</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="#">Food & Grocery</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search Products..." aria-label="Search">
            <button class="btn btn-outline-light search-btn" type="submit">Search</button>
        </form>
        </div>
    </div>
    </nav>
    <div class="d-lg-flex flex-wrap d-sm-flex justify-content-evenly mt-5 products-div">
    {% for product in products  %}
        <div  class="product min-vh-50 my-4 text-center">
            <a href="{% url 'productdetail' product.id %}"><img src={{product.url}} class="image mb-3" alt="image">
            <p class="text-start text-secondary name mx-4 my-2 h6">{{product.name}}</p></a>
            <p class="text-start text-success price mx-4 my-2 pb-3 border-bottom">Rs. {{product.price}}</p>
            <p class="text-start description mx-4 my-2 fw-light">{{product.description}}</p>
        </div>
    {% endfor %}
    </div>
</body>
</html>
